.WordBoardContainer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Word {
  padding: 2em 0 2em 0;
  width: 24vw;
  min-width: 24vw;
  margin: 0.5em;
  font-size: 0.78em;
  line-height: 1;
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-transform: uppercase;
  user-select: none;
}

.currentScoreIndicator {
  grid-column-start: 1;
}

.currentTurnIndicator {
  grid-column-start: 2;
  text-transform: capitalize;
  margin: 0;
}

.endTurnButton {
  grid-column-start: 3;
  margin: 0;
  width: fit-content;
  justify-self: center;
}

.Word:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

/*Small Devices and up*/
@media only screen and (min-width: 660px) {
  .WordBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .Word {
    padding: 2em 0 2em 0;
    width: 8vw;
    min-width: 130px;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .currentTurnIndicator {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .endTurnButton {
    grid-column-start: 4;
  }
}

/*Medium Devices and up*/
@media only screen and (min-width: 1000px) {
  .WordBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 6em 6em 6em 6em 6em;
    height: 75vh;
  }

  .Word {
    padding: 2em 0 2em 0;
    width: 8vw;
    min-width: 130px;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .currentTurnIndicator,
  .gameOverInfo {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .endTurnButton {
    grid-column-start: 6;
  }
}

.spyMasterBtn {
  display: grid;
  grid-column-start: 6;
  justify-self: center;
  align-self: start;
  margin-top: 1.2em;
}
