.Word {
  padding: 2em 0 2em 0;
  justify-self: center;
  width: 24vw;
  min-width: 24vw;
  margin: 0.5em;
  font-size: 0.78em;
  line-height: 1;
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-transform: uppercase;
  user-select: none;
}

.Word:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

/*Small Devices and up*/
@media only screen and (min-width: 660px) {
  .Word {
    padding: 2em 0 2em 0;
    justify-self: center;
    width: 8vw;
    min-width: 130px;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

/*Medium Devices and up*/
@media only screen and (min-width: 1000px) {
  .Word {
    padding: 2em 0 2em 0;
    justify-self: center;
    width: 8vw;
    min-width: 130px;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.NoHover {
  pointer-events: none;
}
